<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VetApp">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="vetapp"
                    android:host="reset-password" />
            </intent-filter>

        </activity>
        <activity
            android:name=".CambiarPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialFinancieroActivity"
            android:exported="false" />
        <activity
            android:name=".PagoActivity"
            android:exported="false" />
        <activity
            android:name=".CalificacionActivity"
            android:exported="false" />
        <activity
            android:name=".MisCitasActivity"
            android:exported="false" />
        <activity
            android:name=".HacerCitaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarMascotaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarMascotaActivity"
            android:exported="false" /> <!-- LOGIN: PRIMERA PANTALLA -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- PANTALLA PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity android:name=".DetalleMascotaActivity" />
        <activity
            android:name=".CarnetVacunacionActivity"
            android:exported="false" />
        <activity
            android:name=".VetDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AgendaVetActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".AlertasStockActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosticoActivity"
            android:exported="false" />
        <activity
            android:name=".PrescripcionActivity"
            android:exported="false" />
        <activity
            android:name=".PacientesVetActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialVetActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleCitaVetActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilVetActivity"
            android:exported="false" />
    </application>

</manifest>